@font-face{
    font-family:'Uni Neue W00 Light';
    src:url("../fonts/1abe3538-6d4f-4b92-ac74-528536de6139.eot?#iefix");
    src:url("../fonts/1abe3538-6d4f-4b92-ac74-528536de6139.eot?#iefix") format("eot"),
    url("../fonts/91094d98-9eb3-4469-9732-b4c657519050.woff2") format("woff2"),
    url("../fonts/e0245645-e220-4df0-9376-ec0db4e7bd56.woff") format("woff"),
    url("../fonts/2e503c84-d986-49ad-95a4-50359f580d54.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Bebas Neue Bold';
    src: url('../fonts/../fonts/BebasNeueBold.eot');
    src: url('../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeueBold.woff2') format('woff2'),
        url('../fonts/BebasNeueBold.woff') format('woff'),
        url('../fonts/BebasNeueBold.ttf') format('truetype'),
        url('../fonts/BebasNeueBold.svg#../fonts/BebasNeueBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Light';
    src: url('../fonts/BebasNeueLight.eot');
    src: url('../fonts/BebasNeueLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeueLight.woff2') format('woff2'),
        url('../fonts/BebasNeueLight.woff') format('woff'),
        url('../fonts/BebasNeueLight.ttf') format('truetype'),
        url('../fonts/BebasNeueLight.svg#../fonts/BebasNeueLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Thin';
    src: url('../fonts/BebasNeue-Thin.eot');
    src: url('../fonts/BebasNeue-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeue-Thin.woff2') format('woff2'),
        url('../fonts/BebasNeue-Thin.woff') format('woff'),
        url('../fonts/BebasNeue-Thin.ttf') format('truetype'),
        url('../fonts/BebasNeue-Thin.svg#../fonts/BebasNeue-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Regular';
    src: url('../fonts/BebasNeueRegular.eot');
    src: url('../fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeueRegular.woff2') format('woff2'),
        url('../fonts/BebasNeueRegular.woff') format('woff'),
        url('../fonts/BebasNeueRegular.ttf') format('truetype'),
        url('../fonts/BebasNeueRegular.svg#../fonts/BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: url('../fonts/BebasNeueBook.eot');
    src: url('../fonts/BebasNeueBook.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeueBook.woff2') format('woff2'),
        url('../fonts/BebasNeueBook.woff') format('woff'),
        url('../fonts/BebasNeueBook.ttf') format('truetype'),
        url('../fonts/BebasNeueBook.svg#../fonts/BebasNeueBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

