.site-header {
  color: $white;
  min-height: 120px;
  background-color: $gray-asparagus;
  padding:1.5em 1.5em 0;

  .logo {
    margin: 0 auto;
    height: 85px;
    width: 120px;
    display:block;
  }

  .site-title {
    display: block;
    text-align: center;
    margin: 0.5rem 0;

      @include respond-to(medium-screen) {
        @include font-size(4.5);
        line-height: 1;
      }
  }

  .byline {
    display: block;
    @include font-size(1.8); 
  }
}

.nav-menu {
  background: $white;
  text-align: center;
  margin:1.5em -1.5em 0;
  padding:1em 0;
  .nav-menu-item {
    display: inline-block;
    margin: 0 0.8em;
    @include font-size(1.8); 
  }
}

