body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    color: $abbey;
    font-family: $bebas-neue-regular;
    font-weight: normal;
}

h2 {
    @include font-size(2.9); 
    font-family: $bebas-neue-thin;
    font-weight: normal;
    text-align: center;

    @include respond-to(medium-screen) {
        @include font-size(4.2);  
    }
}

h3 {
    color: $silk;
    text-transform: uppercase;
    font-weight: normal;
    @include font-size(1.8); 

    @include respond-to(medium-screen) {

    }
}

a, a:visited {
    color: $storm-grey;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

main {
    margin: 1.25rem;    
}

.visibility-hidden{
  @include visuallyhidden;
}

.profile{
  @include border-radius(100px);
  float:left;
  border:1px solid $black-haze;
  width: 100px;
  height: 100px;
  background: url(../img/profile.jpg) center no-repeat;
  background-size: cover;
}

/* sections */
.section-block--grey {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: $black-haze;
} 

.section-block {
    text-align: center;
}

.contact {
    margin-top: -20rem;
    position: relative;
    z-index: 10;
    a {
        @include font-size(2.8);    
    }
}

.footer {
    text-align: center;
    background-color: $black-haze;
    .social-network {
        float:left;

        li {
            display: inline-block;
            vertical-align: middle;
            list-style: none;
            padding: 0;
            margin: 0;

            &:hover {
                .icon-fb {
                    background: url($image-path + 'facebook_hover.svg') no-repeat;
                }
                
                .icon-instagram {
                    background: url($image-path + 'instagram_hover.svg') no-repeat;
                }
            }
        }

        .icon {
            width:30px;
            height:30px;
            display:block;
        }

        .icon-fb {
            background: url($image-path + 'facebook.svg') no-repeat;
        }
        
        .icon-instagram {
            background: url($image-path + 'instagram.svg') no-repeat;
        }
    }
}
