body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    color: $abbey;
    font-family: $uni-neue-light; 
    font-weight: normal;
}

h2 {
    @include font-size(2.9); 
    font-family: $bebas-neue-light;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;

    @include respond-to(medium-screen) {
        @include font-size(4.2);  
    }
}

h3 {
    color: $silk;
    text-transform: uppercase;
    font-weight: normal;
    @include font-size(1.8); 

    @include respond-to(medium-screen) {

    }
}

a, a:visited {
    color: $hippie-blue;
    text-decoration: none;
    border-bottom:2px solid transparent;

    &:hover {
      border-bottom:2px solid $hippie-blue;
      color: $hippie-blue;
    }
}

main {
  margin: 1.25em 0; 
  @include respond-to(medium-screen) {
    margin: 1.25rem;  
  }
}

.inner-wrapper {
  
  @include respond-to(medium-screen) {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
  }
}

.visibility-hidden{
  @include visuallyhidden;
}

.content {
  .content--with-image {
      float:left;
  }
}

.section {
  @include clearfix;
  @include font-size(1.4);
  overflow:hidden;

  @include respond-to(medium-screen) {
    @include font-size(1.6);
  }

  ul {
    li {
      padding: 0;
      margin:0 0 1em 0;
    }
  }  
}

.section:nth-child(even) {
  background-color: $black-haze;
}

/* sections */ 
.section-block {
    text-align: center;
}

.contact {
  margin-top: -20rem;
  position: relative;
  z-index: 10;
  a {
      @include font-size(2.8);    
  }
}

.footer {
  text-align: center;
  background-color: $black-haze;
  
  .copy-text {
    text-transform: uppercase;
  }
}
