.social-links {

  .social-icons {
    margin-bottom: 1em;

    .social-icons--item {
      display: inline-block;
      vertical-align: middle;

      .icon-link {
        width: 30px;
        height: 30px;
        display:block;
        margin: 0 1em 0 0;

      img {
        width: 30px;
        height: 30px;
        display:block;
      }
      
      &:hover {
        border: 0;
        img{
          opacity: 0.5;
        }
      }
    }
  }
    
  }
}