.social-links {

  .social-icons {

    .social-icons--item {
      display: inline-block;

      .icon-link {
        width:30px;
        height:30px;
        display:block;
      
        &.icon-instagram {
          background: url($image-path + 'facebook.svg') no-repeat;
        }
  
        &.icon-twitter {
          background: url($image-path + 'instagram.svg') no-repeat;
        }
  
        &.icon-linkedin {
          background: url($image-path + 'facebook.svg') no-repeat;
        }
  
        &.icon-email {
          background: url($image-path + 'instagram.svg') no-repeat;
        }
      }
    }
    
  }
}